<article id="6579740d508acb4514035c57" data-filter-tag="javascript" class="post">
    <time datetime="2023-05-03">2023-05-03</time>
    <h1>Sorting items in an array by an arbitrary order</h1>
    <div class="tags">
        <span>javascript</span> 
    </div>
    <div class="content">
      <p>Sometimes you need to display data that you fetch from backend in a custom order in frontend. The following snippet shows how to order objects in our array using a custom order defined in another array. Note that to avoid mutation we need to use WEB API&#39;s structuredClone() method instead of spread syntax (...) as spread syntax only does a shallow copy of array items and hence won&#39;t be able to clone objects inside an array.</p>
<pre><code>const myArray = [
  {name: &#39;firstname&#39;, value: &#39;Tom&#39;},
  {name: &#39;age&#39;, value: 61},
  {name: &#39;lastname&#39;, value: &#39;Cruise&#39;}
];
const mySortOrder = [&#39;firstname&#39;, &#39;lastname&#39;, &#39;age&#39;];
const sortArray = (myArray, mySortOrder) =&gt; {
  myArray.sort((a, b) =&gt; {
    const indexA = mySortOrder.indexOf(a.name);
    const indexB = mySortOrder.indexOf(b.name);
    return indexA - indexB;
  });
  return myArray;
}
const sortedArray = sortArray(structuredClone(myArray), mySortOrder);
console.log(sortedArray);
</code></pre>

    </div>
  </article>