<article id="6578aea33007eb8b18c6f0db" data-filter-tag="css" class="post">
    <time datetime="2023-11-19">2023-11-19</time>
    <h1>Animated loader in CSS</h1>
    <div class="tags">
      <span>css</span>
    </div>
    <div class="content">
      <p>Add animated loading icon to any HTML element by adding a &quot;loading&quot; class and the following css rules:</p>
<pre><code>.loading::before {
  content: &#39; &#39;;
  width: 1em;
  height: 1em;
  border: 0.2em solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  }

  @keyframes loadingspin {
  100% {
      transform: rotate(360deg)
  }
}
</code></pre>
<p>Demo on <a href="https://codepen.io/smohadjer/pen/NWeZYry">codepen</a></p>

    </div>
  </article>