<article id="65798036f26c4fafdb695495" data-filter-tag="css" class="post">
    <time datetime="2023-01-08">2023-01-08</time>
    <h1>CSS tips and best practices</h1>
    <div class="tags">
        <span>css</span> 
    </div>
    <div class="content">
      <ul>
<li>Comment any rule that its purpose is not obvious.</li>
<li>Use <code>content: none;</code> to hide pseudo elements (::before, ::after) rather than <code>display: none;</code>.</li>
<li>Avoid &quot;!important&quot;. If you have to use it, add comment to explain why.</li>
<li>Avoid negative margins. If you have to use them, add comment to explain why.</li>
<li>To target the first x children of an element, use <code>:nth-child(-n + x)</code>.</li>
<li>To remove hover underline from a::before set a::before&#39;s display to <a href="http://stackoverflow.com/questions/8820286/how-to-remove-only-underline-from-abefore">inline-block</a>.</li>
<li>Do not use css to hide elements and instead use HTML5 attribute &quot;hidden&quot;.</li>
<li>Use <code>-webkit-overflow-scrolling: touch;</code> to apply momenutum-based scrolling to an element on touch devices. <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling">Read more</a></li>
<li>Check browser support before using new css properties.</li>
<li>All css rules for a component should be name spaced to avoid affecting elements outside that component.</li>
</ul>

    </div>
  </article>