<article id="6579666b8b0b942b2c99a35f" data-filter-tag="vercel" class="post">
    <time datetime="2023-04-11">2023-04-11</time>
    <h1>Disabling preview deployments in Vercel</h1>
    <div class="tags">
        <span>vercel</span> 
    </div>
    <div class="content">
      <p>If you don&#39;t want Vercel to do preview deployments for other branches of your repository you can disable preview deployments by going to your project&#39;s settings &gt; git &gt; Ignored Build Step and add the following command:</p>
<pre><code>if [&quot;$VERCEL_ENV&quot; == &quot;production&quot;]; then exit 1; else exit 0; fi
</code></pre>
<p>This is probably the easiest way. Another way would be to add a vercel.json to all branches and set &quot;deploymentEnabled&quot; to false for any branches that should not trigger deployment, like below:</p>
<pre><code>{
  &quot;git&quot;: {
    &quot;deploymentEnabled&quot;: {
      &quot;gh-pages&quot;: false
    }
  }
}
</code></pre>
<p>More info:</p>
<ul>
<li><a href="https://vercel.com/docs/concepts/projects/project-configuration/git-configuration#git.deploymentenabled">https://vercel.com/docs/concepts/projects/project-configuration/git-configuration#git.deploymentenabled</a></li>
<li><a href="https://stackoverflow.com/questions/68232548/how-can-i-stop-vercel-preview-deployments-from-appearing-on-pull-requests">https://stackoverflow.com/questions/68232548/how-can-i-stop-vercel-preview-deployments-from-appearing-on-pull-requests</a></li>
</ul>

    </div>
  </article>