<article id="6578833b4cb6ff372526b63d" data-filter-tag="javascript" class="post">
    <time datetime="2023-11-17">2023-11-17</time>
    <h1>Converting HTML string to DOM element(s)</h1>
    <div class="tags">
      <span>javascript</span>
    </div>
    <div class="content">
      <p>If you have some markup as string and wish to add it to a HTML page via JavaScript, the old way was to use innerHTML property like this:</p>
<pre><code class="language-javascript">const myHtmlString = &#39;&lt;h1&gt;Hello World&lt;/h1&gt;&#39;;
const myElement = document.querySelector(&#39;header&#39;);
myElement.innerHTML = myHtmlString;
</code></pre>
<p>However this replaces the whole content of element with new HTML string which may not always be desirable. Often you just want to add the new HTML as a child to an element in your page. In such cases you can use DOMParser interface like this:</p>
<pre><code class="language-javascript">const myHtmlString = &#39;&lt;h1&gt;Hello World&lt;/h1&gt;&lt;h2&gt;Lorem ipsum&lt;/h2&gt;&#39;;
const myHtmlElement = new DOMParser().parseFromString(myHtmlString,
  &#39;text/html&#39;).body.children;
const myElement = document.querySelector(&#39;header&#39;);
myElement.append(...myHtmlElement);
</code></pre>
<p>Note use of spread operator with append. Unlike appendChild() method, append() method allows inserting multiple nodes.</p>

    </div>
  </article>