<article id="65797fb0726424629b8a31f2" data-filter-tag="javascript" class="post">
    <time datetime="2023-07-06">2023-07-06</time>
    <h1>Handlebars 101</h1>
    <div class="tags">
        <span>javascript</span> 
    </div>
    <div class="content">
      <p>It is possible to iterate objects in handlebars templates. In below example countries is an object of key:value pairs where key is letter of alphabet and value is an array of countries whose name starts with that letter. @key returns key and “this” returns value for that key. It’s possible to use “../“ to access parent properties.</p>
<pre><code>&lt;dl&gt;
    &#123;&#123;#each countries&#125;&#125;
        &lt;dt&gt;&#123;&#123;toUpperCase @key&#125;&#125;&lt;/dt&gt;
            &lt;dd&gt;
            &lt;ul&gt;
            &#123;&#123;#each this&#125;&#125;
                &lt;li&gt;&lt;a href=&quot;&#123;&#123;../../url&#125;&#125;?country=&#123;&#123;country_name&#125;&#125;&quot;&gt;&#123;&#123;country_name&#125;&#125;&lt;/a&gt;&lt;/li&gt;
                &#123;&#123;/each&#125;&#125;
            &lt;/ul&gt;
        &lt;/dd&gt;
        &#123;&#123;/each&#125;&#125;
&lt;/dl&gt;</code></pre>

<pre><code>Handlebars.registerHelper('toUpperCase', function(str) {
    return str.toUpperCase();
});</code></pre>
    </div>
  </article>