<article id="65797fb0726424629b8a31f2" data-filter-tag="javascript" class="post">
    <time datetime="2023-07-06">2023-07-06</time>
    <h1>Handlebars 101</h1>
    <div class="tags">
        <span>javascript</span> 
    </div>
    <div class="content">
      <p>It is possible to iterate objects in handlebars templates. In below example countries is an object of key:value pairs where key is letter of alphabet and value is an array of countries whose name starts with that letter. @key returns key and “this” returns value for that key. It’s possible to use “../“ to access parent properties.</p>
<pre><code class="language-html">&amp;lt;dl&amp;gt;
    &amp;#123;&amp;#123;#each countries&amp;#125;&amp;#125;
        &amp;lt;dt&amp;gt;&amp;#123;&amp;#123;toUpperCase @key&amp;#125;&amp;#125;&amp;lt;/dt&amp;gt;
            &amp;lt;dd&amp;gt;
            &amp;lt;ul&amp;gt;
            &amp;#123;&amp;#123;#each this&amp;#125;&amp;#125;
                &amp;lt;li&amp;gt;&amp;lt;a href=&amp;quot;&amp;#123;&amp;#123;../../url&amp;#125;&amp;#125;?country=&amp;#123;&amp;#123;country_name&amp;#125;&amp;#125;&amp;quot;&amp;gt;&amp;#123;&amp;#123;country_name&amp;#125;&amp;#125;&amp;lt;/a&amp;gt;&amp;lt;/li&amp;gt;
                &amp;#123;&amp;#123;/each&amp;#125;&amp;#125;
            &amp;lt;/ul&amp;gt;
        &amp;lt;/dd&amp;gt;
        &amp;#123;&amp;#123;/each&amp;#125;&amp;#125;
&amp;lt;/dl&amp;gt;
</code></pre>
<pre><code class="language-javascript">Handlebars.registerHelper(&#39;toUpperCase&#39;, function(str) {
    return str.toUpperCase();
});
</code></pre>

    </div>
  </article>