<article id="657965e4497dbc55767a80ef" data-filter-tag="javascript" class="post">
    <time datetime="2023-08-17">2023-08-17</time>
    <h1>JavaScript Best Practices</h1>
    <div class="tags">
        <span>javascript</span> 
    </div>
    <div class="content">
      <ul>
<li>Don&#39;t block the main thread with long tasks <a href="https://web.dev/optimize-long-tasks/">https://web.dev/optimize-long-tasks/</a></li>
<li>Write pure functions. Pure functions do not change anything outside their scope. <a href="https://www.freecodecamp.org/news/what-is-a-pure-function-in-javascript-acb887375dfe/amp/">https://www.freecodecamp.org/news/what-is-a-pure-function-in-javascript-acb887375dfe/amp/</a></li>
<li>Use &quot;const&quot; to define variables. This practice helps you to write immutable code.</li>
<li>Avoid global variables</li>
<li>Avoid duplicated code (DRY)</li>
<li>Avoid negative conditions</li>
<li>Add <code>&#39;use strict&#39;;</code> to top of your scripts (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode">MDN Strict mode</a>)</li>
</ul>

    </div>
  </article>