<article id="65797c936dd337e1c3742a64" data-filter-tag="tools" class="post">
    <time datetime="2023-06-08">2023-06-08</time>
    <h1>List of Tools I use for Web Development</h1>
    <div class="tags">
        <span>tools</span> 
    </div>
    <div class="content">
      <table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody><tr>
<td><a href="https://www.responsivebreakpoints.com/">Responsive Image Breakpoints Generator</a></td>
<td>Easily generate the optimal responsive image dimensions</td>
</tr>
<tr>
<td><a href="https://www.npmjs.com/package/live-server">Live Server</a></td>
<td>Development server with live reload capability for fast prototyping</td>
</tr>
<tr>
<td><a href="https://www.thunderclient.com/">Thunder Client</a></td>
<td>Rest Client for Testing APIs in VS Code</td>
</tr>
<tr>
<td><a href="https://esbuild.github.io/">esbuild</a></td>
<td>Bundle modules and scripts for better performance in browsers</td>
</tr>
<tr>
<td><a href="https://locaping.com/traceroute">LocaPing</a></td>
<td>Traceroute From Multiple Locations. Enter your site&#39;s domain name and select a country to find out location and performance of the server hosting your domain to users visiting from that country.</td>
</tr>
<tr>
<td><a href="https://yangcha.github.io/iview/iview.html">iview</a></td>
<td>Use to find out X and Y coordinates of any point in an image.</td>
</tr>
<tr>
<td><a href="https://base64.guru/converter/encode/image">Image to Base64</a></td>
<td>Encode images to Base64</td>
</tr>
</tbody></table>

    </div>
  </article>