<article class="post" data-filter-tag="javascript">
  <time datetime="2023-04-14">2023-04-14</time>
  <h1>Using Location API on anchor elements</h1>
  <div class="tags">
    <span>javascript</span>
  </div>
  <p>Did you know that a HTML anchor element can be treated as a Location object? This means similar to how you can use
  window.location to read or write different parts of a URL, you can do the same with an anchor element. For example if you
    have a link like this:</p>
  <pre><code class="lang-html">&lt;a id="myLink" href="https://mydomain/products.html#productName"&gt;test&lt;/a&gt;</code></pre>
        <p>You can get the value of hash in this way:</p>
<pre><code class="lang-js">const hash = document.getElementById('myLink').hash.substring(1);
// returns productName
</code></pre>
<p>You can use different properties of Location object on an anchor element and same as with window.location you can both read and write these properties. For more info see: <a href="https://developer.mozilla.org/en-US/docs/Web/API/Location">https://developer.mozilla.org/en-US/docs/Web/API/Location</a></p>
</article>
