<article class="post" data-filter-tag="javascript">
  <time datetime="2023-04-21">2023-04-21</time>
  <h1>JavaScript Best Practices</h1>
  <div class="tags">
    <span>javascript</span>
  </div>
  <ul>
    <li>Don't block the main thread with long tasks <a href="https://web.dev/optimize-long-tasks/">https://web.dev/optimize-long-tasks/</a></li>
    <li>Write pure functions. Pure functions do not change anything outside their scope. <a href="https://www.freecodecamp.org/news/what-is-a-pure-function-in-javascript-acb887375dfe/amp/">https://www.freecodecamp.org/news/what-is-a-pure-function-in-javascript-acb887375dfe/amp/</a></li>
    <li>Use "const" to define variables. This practice forces you to write immutable code.</li>
    <li>Avoid global variables</li>
    <li>Avoid duplicated code</li>
    <li>Avoid negative conditions</li>
    <li>Add <code>'use strict';</code> to top of every script you write (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode">MDN Strict mode</a>)</li>
  </ul>
</article>
