<article class="post">
    <time datetime="Thu Sep 21 2023 18:09:54 GMT+0000 (Coordinated Universal Time)">Thu Sep 21 2023</time>
    <h1>Tips from Slaven </h1>
    <div class="tags">
      <span>Tennis </span>
    </div>
    <div class="content">
      There is a pause in my forehand which disrupts the flow of my swing. I also have to try to hit the ball more ahead of me. Use the opposite hand to bring the racket slowly but continuously to start position at the back and then let it drop and come forward without flexing my arm, that is I need to stay as loose with arm as possible and let the power come from legs and pelvis and then torso. 
    </div>
  </article>