<article class="post" data-filter-tag="tools">
  <time datetime="2023-07-19">2023-07-19</time>
  <h1>Open-Source Web Development Tools</h1>
  <div class="tags">
    <span>tools</span>
  </div>
  <table>
    <tr>
      <td><a href="https://www.thunderclient.com/">Thunder Client</a></td>
      <td>Rest Client for Testing APIs in VS Code</td>
    </tr>
    <tr>
      <td><a href="https://esbuild.github.io/">esbuild</a></td>
      <td>Bundle modules and scripts for better performance in browsers</td>
    </tr>
    <tr>
      <td><a href="https://locaping.com/traceroute">LocaPing</a></td>
      <td>Traceroute From Multiple Locations. Enter your site's domain name and select a country to find out location and performance of the server hosting your domain to users visiting from that country.</td>
    </tr>
    <tr>
      <td><a href="https://yangcha.github.io/iview/iview.html">iview</a></td>
      <td>Use to find out X and Y coordinates of any point in an image.</td>
    </tr>
    <tr>
      <td><a href="https://base64.guru/converter/encode/image">Image to Base64</a></td>
      <td>Encode images to Base64</td>
    </tr>
  </table>
</article>
