<article class="post">
  <time datetime="2023-02-10">2023-02-10</time>
  <h1>Disabling preview deployments in Vercel</h1>
  <div class="tags">
    <span>vercel</span>
  </div>
  <p>If you don't want Vercel to do preview deployments for other branches of your repository you can disable preview deployments by going to your project's settings &gt; git &gt; Ignored Build Step and add the following command: </p>
  <p><pre>if [ "$VERCEL_ENV" == "production" ]; then exit 1; else exit 0; fi</pre></p>
  <p>This is probably the easiest way. Another way would be to add a vercel.json to all branches and set "deploymentEnabled" to false for any branches that should not trigger deployment, like below:
<pre>
{
  "git": {
    "deploymentEnabled": {
      "gh-pages": false
    }
  }
}</pre></p>
 <p>More info:</p>
 <ul>
  <li><a href="https://vercel.com/docs/concepts/projects/project-configuration/git-configuration#git.deploymentenabled">https://vercel.com/docs/concepts/projects/project-configuration/git-configuration#git.deploymentenabled</a></li>
  <li><a href="https://stackoverflow.com/questions/68232548/how-can-i-stop-vercel-preview-deployments-from-appearing-on-pull-requests">https://stackoverflow.com/questions/68232548/how-can-i-stop-vercel-preview-deployments-from-appearing-on-pull-requests</a></li>
 </ul>
</article>
