<article class="post">
  <time datetime="2023-04-13">2023-04-13</time>
  <h1>Fixing TypeScript error property does not exist on type EventTarget</h1>
  <div class="tags">
    <span>typescript</span>
  </div>
  <p>When working with event listeners in TypeScript one often runs into error that a particular property does not exist on type EventTarget. While it's relatively easy to fix this error using type "any" or by typecasting the event target using "as", none of these solutions are optimal since they simply disable TypeScript's type checking, which is what we are using TypeScript for in the first place!</p>
  <p>The better way to fix this error is to use JavaScript's <strong>instanceof</strong> operator which you can read about at: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof</a>.</p>
  <p>Example of code that throws error:</p>
  <pre><code>
document.querySelector('p').addEventListener('click', (event) => {
alert(event.target.textContent);
});
</code></pre>
<p>Error:</p>
<pre><code>Property 'textContent' does not exist on type 'EventTarget'.</code></pre>
<p>Solution:</p>
<pre><code>
document.querySelector('p').addEventListener('click', (event) => {
if (event.target instanceof Element) {
  alert(event.target.textContent);
}
});
</code></pre>
</article>
