<article class="post" data-filter-tag="github">
  <time datetime="2023-02-25">2023-02-25</time>
  <h1>How to download files directly from GitHub public repositories</h1>
  <div class="tags">
    <span>github</span>
  </div>
  <p>GitHub URL:<br>
  <a href="https://github.com/smohadjer/s3/blob/master/test.jpg">https://github.com/smohadjer/s3/blob/master/test.jpg</a></p>
  <p>GitHub download URL:<br>
  <a href="https://raw.githubusercontent.com/smohadjer/s3/master/test.jpg">https://raw.githubusercontent.com/smohadjer/s3/master/test.jpg</a>
  </p>
</article>
