<article data-filter-tag="javascript" class="post">
    <time datetime="Wed Nov 15 2023 11:42:07 GMT+0000 (Coordinated Universal Time)">Wed Nov 15 2023</time>
    <h1>Circle of Data</h1>
    <div class="tags">
      <span>javascript</span>
    </div>
    <div class="content">
      <h1>Circle of Data</h1>
<p>I put together an example of transferring data between browser (JavaScript) and server (Node.js/MongoDB) without any frameworks. The example can run via express.js server locally or without a server on a serverless cloud platform such as Vercel. Check it out at: <a href="https://form-liart-five.vercel.app/">https://form-liart-five.vercel.app/</a></p>

    </div>
  </article>