<footer>
	<address>
		Saeid Mohadjer<br />
		Denzlingerstr. 20<br />
		79108 Freiburg<br />
		Deutschland<br /><br />
		Telefon: +49 761 4296 3565<br />
		Handy: +49 176 8826 9966<br />
		<a href="mailto:info@saeidmohadjer.com?subject=Feedback von der Website">info@saeidmohadjer.com</a><br /><br />

		Steuernummer: 06169/58063<br />
		USt-IdNr: DE287169201
	</address>
	<div>
		<p>Diese Website verwendet weder Cookies noch sammelt sie personenbezogene Daten. Die Website wird auf dem Server von GitHub gehostet. Lesen Sie daher bitte deren <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">Datenschutzerklärung</a>, um zu verstehen, welche Daten von GitHub erfasst werden.</p>
		<p>Zuletzt aktualisiert am 10. Januar 2023.</p>
	</div>
</footer>
