<header class="header">
	<div class="logo">
		Saeid Mohadjer
		<span>Webdesigner | Web Entwickler</span>
	</div>
	<!--
	<div class="langs">
		<button class="langs__button"></button>
		<ul class="hidden">
			<li><a href="/en/">English</a></li>
			<li><a href="/">Deutsch</a></li>
			<li><a class="lang-fa" href="/fa/">فارسی</a></li>
		</ul>
	</div>
	<button aria-label="Menu" class="hamburger hamburger--spin" type="button">
		<span class="hamburger-box">
				<span class="hamburger-inner"></span>
		</span>
		<span class="hamburger-label">Menu</span>
	</button>
	<nav data-set-max-height="true">
			{{> de/partials/menu }}
	</nav>
	-->
</header>

