<script>
  var myApp = {};
</script>
<script src="/resources/js/lib/handlebars.runtime.min.js"></script>
<script src="/resources/js/lib/handlebars.templates.js"></script>
<script src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="module" src="/resources/js/bundle.js"></script>

<script type="module">
  const swiperElm = document.querySelector('.swiper');
  if (swiperElm) {
    const swiper = new Swiper('.swiper', {
      loop: true,
		  speed: 750,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: false
    });
    console.log('swiper is ready');
  }

  document.addEventListener('domReady', () => {
    console.log()
  });
</script>
