<script>
  var myApp = {};
</script>
<script src="/resources/js/lib/handlebars.runtime.min.js"></script>
<script src="/resources/js/lib/handlebars.templates.js"></script>
<script src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="module" src="/resources/js/bundle.js"></script>

<script type="module">
  import FilterList from '/resources/js/lib/filterList.min.js';

  const swiperElm = document.querySelector('.swiper');
  if (swiperElm) {
    const swiper = new Swiper('.swiper', {
      loop: true,
		  speed: 750,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: false
    });
    console.log('swiper is ready');
  }

  window.setTimeout(()=>{
    initFilters();
  }, 1000);

  function initFilters() {
    console.log(document.querySelectorAll('article[data-filter-tag]'));
    const filterElement = document.querySelector('main[data-filter-names]');
    if (filterElement) {
      const myFilter = new FilterList({
        element: filterElement,
        urlIsUpdatable: true
      });

    }
  }


  /*
  document.addEventListener('domReady', () => {
    console.log('domReady');
  });
  */AnalyserNode
</script>
