<!doctype html>
<html class="no-js lang-fa test" lang="fa" dir="rtl">
	<head>
    {{> fa/partials/meta }}
    {{> fa/partials/styles }}
	</head>
	<body>
	{{> fa/partials/header pageId=this.pageId }}
    {{> content }}
    {{> fa/partials/footer }}
    {{> fa/partials/scripts }}
	</body>
</html>
