<footer>
	<address>
		Saeid Mohadjer<br />
		Denzlingerstr. 20<br />
		79108 Freiburg<br />
		Germany<br /><br />
		Phone: +49 761 4296 3565<br />
		Cell: +49 176 8826 9966<br />
		<a href="mailto:saeid@fastmail.fm">saeid@fastmail.fm</a><br /><br />

		Steuernummer: 06169/58063<br />
		USt-IdNr: DE287169201
	</address>
	<div>
		<!--<span>USt-ID (VAT): DE287169201</span>-->
		<p><a title="Validate this page" href="https://validator.w3.org/check?uri=referer">HTML5 Valid</a> |
		<a title="Validate this page" href="https://jigsaw.w3.org/css-validator/check/referer">CSS3 Valid</a> |
		<a title="Validate accessibility" href="https://www.accessibilitychecker.org/audit/?website=http%3A%2F%2Fsaeidmohadjer.com&flag=us">WCAG 2.1 Compliant</a></p>
		<p>This website does not use cookies. Last updated on Dec 8th, 2022.</p>
	</div>
</footer>
