<!doctype html>
<html class="no-js test" lang="en">
	<head>
    {{> en/partials/meta }}
    {{> en/partials/styles }}
	</head>
	<body>
	{{> en/partials/header pageId=this.pageId }}
    {{> content }}
    {{> en/partials/footer }}
    {{> en/partials/scripts }}
	</body>
</html>
