.blog {
	article {
		border-bottom: solid 1px $gray;

		+ article {
			margin-top: 2em;
		}

		h3 {
			border: none;
		}

		p {
			max-width: 1024px;
		}

		time {
			font-size: smaller;

			+ p {
				margin-top: 1em;
			}
		}
	}

}
