<article class="post">
  <h1>Deploy to Vercel only when a specific file or folder in repository is changed</h1>
  <time datetime="2023-02-11">2023-02-11</time>
  <p>When you install Vercel application on GitHub and give it access to your repository, GitHub will trigger a deployment on Vercel every time there is
    a new commit in your main branch, however if your API on Vercel only needs to be updated when a certain file or folder is changed, these
    deployments are unnecessary. You can avoid unnecessary deployments to Vercel using GitHub Actions as described here:
    <a href="https://vercel.com/guides/how-can-i-use-github-actions-with-vercel">https://vercel.com/guides/how-can-i-use-github-actions-with-vercel</a>.</p>
  <p>Another advantage of using GitHub Actions with Vercel is that you can uninstall Vercel application from GitHub as Vercel no longer needs access to
    your GitHub repository. You simply need to create a token on Vercel and store it along with your Vercel Org and Project IDs (found in .vercel/project.json in root of your project) in secrets on Github at https://github.com/your-username/your-repository/settings/secrets/actions</p>
  <p><img class="responsive" src="/assets/blog-vercel.png" alt="vercel secrets on GitHub"></p>
</article>
