<article class="post">
  <h1>A boilerplate for building modern Websites</h1>
  <time datetime="2019-10-28">Oct. 28, 2019</time>
  <p>I recently removed dependency on Gulp in my frontend build and now use npm and nodejs scripts to handle all my build tasks. This has several benefits, first of all I have far less dependencies in my projects. Second I don't need to wait for gulp plugins to get updated every time a core package that I rely on gets updated. Also the new version of Gulp (version 4) was no longer backward compatible so I had to refactor most of my build tasks before I could upgrade to the new version. The new frontend build is minimal, has no vulnerabilities, and does most of what is considered necessary these days by frontend developers (supporting and watchin Sass files, precompiling Handlebars templates, ES6 transpiling, module bundling and so on). <a href="https://github.com/smohadjer/boilerplate">https://github.com/smohadjer/boilerplate</a></p>
  <p>
</article>
