<!doctype html>
<html class="no-js" lang="en">
	<head>
    {{> partials/meta }}
    <style>
        * {
            margin-bottom: 0;
        }

        @media print {
            .pdf {
                display: none;
            }

            h3 {
                page-break-after: avoid;
            }
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            max-width: 80ch;
            margin: 1rem;
            line-height: 1.3;
        }

        @media (min-width: 1024px) {
            body {
                font-size: 1.2rem;
            }
        }

        @media (min-width: 100ch) {
            body {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .deprecated {
            text-decoration: line-through;
        }

        header {
            text-align: center;
        }

        header p {
            font-size: smaller;
	        margin-top: 0.5em;
        }

        h1 {
            font-size: 1.8rem;
        }

        h1, h2 {
            text-align: center;
            font-weight: 500;
        }

        h2 {
            font-size: 1.3rem;
            margin-top: 0;
        }

        h3 {
            margin-top: 2rem;
            text-transform: uppercase;
        }

        h3 + * {
            margin-top: 0.5rem;
        }

        ul {
            padding-left: 15px;
        }

        ul li {
            margin-top: 0.5rem;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin-left: 0;
        }

        dd + dt {
            margin-top: 0.5rem;
        }

        #projects + ul li + li {
            margin-top: 1rem;
        }
    </style>
	</head>
	<body>
        <main>
            {{> content }}
        </main>
	</body>
</html>
