<!doctype html>
<html class="no-js" lang="en">
	<head>
    {{> partials/meta pageTitle=this.pageTitle }}
    {{> partials/styles }}
	</head>
	<body>
        <main>
            {{> content }}
        </main>
	</body>
</html>
