footer {
	padding: 1rem;
	margin: 2rem 0 0;
	font-size: 0.8rem;
	background: #eee;

	@media (min-width: 1024px) {
		display: flex;
		justify-content: space-between ;
	}

	address {
		margin-bottom: 1rem;
		font-style: normal;

		@media (min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	> div {
		@media (min-width: 1024px) {
			width: 40%;
		}

		p + p {
			margin-top: 1em;
		}

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 15px;

				&.html5 {
					background: url(../img/html5-color.svg) left center no-repeat;
				}

				&.css3 {
					background: url(../img/css3-color.svg) left center no-repeat;
				}

				&.a11y {
					background: url(../img/a11y.svg) left center no-repeat;
				}

				&.performance {
					background: url(../img/performance.svg) left center no-repeat;
				}

        &:last-child {
          margin-right: 0;
        }
      }

			&.tools {
				li {
					background-size: 20px;
					padding-left: 24px;
					display: block;
				}
			}
		}
	}
}
