footer {
	padding: 0.9em 0 0;
	color: #666;
	margin: 3em 5% 1em;
	border-top: solid 1px $gray;

	address, p {
		font-size: 0.8em;
	}

	address {
		margin-bottom: 1em;
		font-style: normal;
	}

	@media (min-width: 600px) {
		display: flex;
		justify-content: space-between ;
	}

	> div {
		@media (min-width: 600px) {
			width: 50%;
		}

		@media (min-width: 1024px) {
			width: 33%;
		}

		a {
			vertical-align: middle;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
				margin-left: 5px;
			}
		}

		p + p {
			margin-top: 1em;
		}
	}
}
