footer {
	padding: 1rem;
	margin: 2rem 0 0;
	font-size: smaller;
	background: #eee;

	@media (min-width: 1024px) {
		display: flex;
		justify-content: space-between ;
	}

	address {
		margin-bottom: 1rem;
		font-style: normal;

		@media (min-width: 1024px) {
			margin-bottom: 0;
		}
	}

	> div {
		@media (min-width: 1024px) {
			width: 40%;
		}

		p + p {
			margin-top: 1em;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 15px 0 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
