html {
	font-size: 1em;
	font-family: arial, verdana, snas-serif;
	color: $black;

	@media only screen and (min-width: 600px) {
		font-size: 1.2em;
		line-height: 1.4;
	}
}

* {
	margin-top: 0;
	margin-bottom: 0;
}

body {
	background: $white;
	margin: 0;

	@media only screen and (min-width: 1440px) {
		width: 1400px;
		margin: 0 auto;
	}
}

figure {
	margin: 0;
}

main {
	margin: 30px 5% 3%;
}

h1, h3 {
	margin-bottom: 0;
}

h3 {
	margin-bottom: 0;
	padding-bottom: 0.1em;
	font-family: 'OpenSans', arial, verdana, snas-serif;
}

h4 {
	margin-bottom: 0;
	font-size: 1em;
	line-height: 1.4em;
	margin-top: 0;
	font-family: 'OpenSans', arial, verdana, snas-serif;
}

p {
	font-size: 0.9em;
	line-height: 1.4em;

	h4 + & {
		margin-top: 0.2em;
	}
}

sup {
	color: #666;
	font-size: 0.7em;
}

ul {
	padding-left: 0;
	margin-top: 10px;
	margin-bottom: 1em;

	& li  {
		font-size: 1em;
		line-height: 1.3em;
		margin-bottom: 0.4em;
		margin-left: 1em;

		&:last-child {
			margin-bottom: 0;
		}

		p {
			margin-bottom: 0;
		}
	}
}

a {
	color: $blue;
	text-decoration: none;

	&:visited {
		//color: $purple;
	}

	&:hover {
		text-decoration: underline;
	}
}

dt {
	font-weight: bold;

	dd + & {
		margin-top: 10px;
	}
}

time {
	font-size: smaller;
	color: #999;

	+ p {
		margin-top: 1em;
	}
}
