header {
	margin: 1rem;
	font-size: 1.4rem;
	font-weight: 600;

	> div {
		display: inline-block;
		text-align: right;
	}

	@media (min-width: 1024px) {
		font-size: 1.6rem;
	}

	@media (min-width: 1440px) {
		margin-left: 0;
	}

	span {
		font-size: 1rem;
		font-weight: 400;
		color: #666;
		display: block;

		@media (min-width: 1024px) {
			margin-top: -0.2rem;
		}
	}

}


