header {
	margin: 0.75rem 1rem 0.5rem;
	font-size: 1.3rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;

	a {
    font-weight: normal;
		background: url(../img/globe2.svg) left center no-repeat;
		background-size: 18px;
		font-size: 22px;
		padding-left: 25px;

		@media (min-width: 768px) {
			background-size: 22px;
			font-size: 27px;
			padding-left: 31px;
		}
	}

	@media (min-width: 1024px) {
		font-size: 1.6rem;
	}

	@media (min-width: 1440px) {
		margin-left: 0;
	}

	h1 {
		font-size: 1rem;
		font-weight: 400;
		display: block;
		margin-top: -0.1rem;
		letter-spacing: 0.02rem;

		@media (min-width: 1024px) {
			margin-top: -0.3rem;
			font-size: 1.1rem;
		}
	}

}


