header {
	margin: 0.75rem 1rem 0.5rem;
	font-size: 1.3rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;

	a {
    font-weight: normal;
		font-size: 18px;

		@media (min-width: 768px) {
			font-size: 20px;
		}
	}

	.langs {
		text-align: right;
		position: relative;
		z-index: 10;

		&__button {
			border: none;
			background: url(../img/globe2.svg) no-repeat;
			background-size: 30px;
			width: 30px;
			height: 30px;
			display: inline-block;
			cursor: pointer;
		}

		ul {
			position: absolute;
			right: 0;
			top: 25px;

			@media (min-width: 1024px) {
				top: 30px;
			}

			&.hidden {
				display: none;
			}

			li {
				margin: 0;
				list-style: none;
				line-height: 1.2;

				@media (min-width: 1024px) {
					line-height: 1;
				}
			}
		}
	}

	@media (min-width: 1024px) {
		font-size: 1.6rem;
	}

	@media (min-width: 1440px) {
		margin-left: 0;
	}

	h1 {
		font-size: 1rem;
		font-weight: 400;
		display: block;
		margin-top: -0.1rem;
		letter-spacing: 0.02rem;

		@media (min-width: 1024px) {
			margin-top: -0.3rem;
			font-size: 1.1rem;
		}
	}

}


