.home {
	> section {
		border-bottom: solid 1px $gray;
		padding-bottom: 30px;
		margin-bottom: 30px;

		&:last-child {
			border: 0;
			padding-bottom: 0;
		}

		h3 + p {
			margin-top: 20px;
		}
	}

	> article {
		border-bottom: solid 1px $gray;

		+ article {
			margin-top: 2em;
		}

		h3 {
			border: none;
		}

		p {
			max-width: 1024px;
		}

		.col2 {
			display: flex;
			margin: 2em 0;
			justify-content: space-between;

			> * {
				width: 45%;
				margin-right: 5%;
			}

			&--center {
				align-items: center;
			}

			p {
				margin-bottom: 0;
				margin-top: 0.5em;
			}
		}

		.screenshot {
			max-width: 360px;

			img {
				width: 100%;
			}
		}
	}

	dd {
		margin-left: 0;
		font-size: smaller;
	}

	dd + dt {
		margin-top: 1em;
	}



}
