.stage {
  align-items: center;
  overflow: hidden;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
  }

  &__content {
    @media (min-width: 768px) {
      background-color: #ddd;
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%);
      aspect-ratio: 3/2;
      width: 50%;
      padding: 3rem;
      border-right: solid 3px white;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.5;
      margin: 1rem;
      font-weight: 600;
  
      @media (min-width: 768px) {
        font-size: 0.8rem;
        margin: 0;
      }
  
      @media (min-width: 1024px) {
        font-size: 1.3rem;
      }
  
      @media (min-width: 1200px) {
        font-size: 1.6rem;
      }
    }
  }

  .swiper {
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      width: 50%;
      order: 2;
    }
  }
}
