.stage {
  align-items: center;
  overflow: hidden;
  margin: 2rem 1rem;

  @media (min-width: 1024px) {
    margin: 2rem 0;
  }

  .swiper {
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
    padding-bottom: 40px;

    &-slide__content {
      td {
        padding-right: 1.5rem;
        vertical-align: top;

        &:first-child {
          font-weight: 600;
        }
      }
    }

    @media (min-width: 1024px) {
      order: 1;
      margin: 0;

      &-slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
          //height: calc(100vh - 200px);
          width: 50%;
          height: auto;
            /* to fix blurry downscaled images in Chrome */
          //image-rendering: -webkit-optimize-contrast;
        }

        &__content {
          width: 40%;
          font-size: 1.1rem;
          line-height: 1.3;
          padding: 0;
        }
      } 
    }
  }
}
