footer {
  padding: 2em 15px;
  font-size: 0.8rem;
  display: grid;
  gap: 2em;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

footer address {
  font-style: normal;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}


footer > div p + p {
  margin-top: 1em;
}
footer > div ul {
  list-style: none;
  padding: 0;
}
footer > div ul li {
  display: inline-block;
  margin-right: 15px;
}
footer > div ul li.html5 {
  background: url(../../img/html5-color.svg) left center no-repeat;
}
footer > div ul li.css3 {
  background: url(../../img/css3-color.svg) left center no-repeat;
}
footer > div ul li.a11y {
  background: url(../../img/a11y.svg) left center no-repeat;
}
footer > div ul li.performance {
  background: url(../../img/performance.svg) left center no-repeat;
}
footer > div ul li:last-child {
  margin-right: 0;
}
footer > div ul.tools li {
  background-size: 20px;
  padding-left: 24px;
  display: block;
}
