form {
  margin-top: 30px;
  /* to avoid zooming on iPhone when input or textarea get the focus we need to set font-size at least to 16px */
  /* fix styling of date input fields on iphone */
}
form :is(input),
form :is(textarea),
form :is(select) {
  font-size: 16px;
}
form :is(input)[type=date] {
  /*-webkit-appearance: none;*/
  min-height: 2em;
  background: none;
}
form :is(input)[type=checkbox] {
  margin: 0 3px 0 0;
}
form :is(textarea):valid,
form input:valid {
  background: #f5fff5;
}
form :is(button) {
  font-size: 18px;
  background: #225E90;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 20px 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  form :is(button) {
    font-size: 22px;
    padding: 10px 20px;
  }
}
form .row {
  display: block;
  margin-top: 10px;
}
form .row.required > label::after, form .row.required > p:first-child::after {
  content: "*";
  margin-left: 2px;
}
form .row.hidden {
  display: none;
}
form .row.row--two-columns :is(label) {
  display: inline-block;
  min-width: 200px;
  vertical-align: top;
}
form .row.row--two-columns :is(input),
form .row.row--two-columns :is(select) {
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 0;
  padding: 5px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  form .row.row--two-columns :is(input),
  form .row.row--two-columns :is(select) {
    width: auto;
    min-width: 300px;
  }

  form .row.row--two-columns :is(input)[type=checkbox] {
    width: auto;
    min-width:unset;
  }
}
form .row :is(textarea) {
  border: solid 1px #ccc;
  border-radius: 0;
  padding: 5px;
  width: 100%;
}
@media (min-width: 768px) {
  form .row :is(textarea) {
    max-width: 650px;
  }
}
