.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px 20px;
  flex-wrap: wrap;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .header {
    align-items: flex-start;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .header {
    margin: 15px 20px 30px;
  }
}

.header .logo {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .header .logo {
    font-size: 1.5em;
  }
}

.github {
  vertical-align: -1px;
  width: 19px;
}

