#home {
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

#home #flip {
  margin-bottom: 0.5em;
  position: relative;
  z-index: 100;
}

#home + footer {
  margin-top: 0;
}

#home *:first-child {
  margin-top: 0;
}

#home .tags {
  font-size: 18px;
  margin-top: 0;
}

@media (min-width: 768px) {
  #home .tags {
    font-size: 20px;
  }
}

#home .lead {
  margin-top: 0.25em;
  line-height: 1.3;
}

.lead + p {
  margin-top: 0.5em;
}

#home article h1 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#home article h1 span {
  font-weight: normal;
  display: block;
}

#home article {
  padding-bottom: 30px;
  text-align: center;
  max-width: 60ch;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  & a {
    text-decoration: none;
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 800px;
  width: 100%;
  margin: 0 auto;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden; /* hide back of pane during swap */
  background: white; /* for iOS 12 or old browsers */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  transform: rotateY(180deg); /* initially hidden pane */
}
