
@font-face {
    font-family: "Noto";
    src: url("../../fonts/NotoSansLinearA-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@keyframes slidein {
    from {
        height: 0;
    }
    to {
       height: 100%;
    }
}

@keyframes slideup {
    from {
        top: 100%;
    }
    to {
       top: 0
    }
}

@keyframes slideLeft {
    from {
        right: -350px;
    }

    to {
        right: 0px;
    }
}

@keyframes slideRight {
    from {
        left: -460px;
    }

    to {
        left: 0px;
    }
}

#intro {
    > div {
        height: 300px;
        display: flex;
        padding: 0;
        font-family: "Noto";
        position: relative;

        @media (min-width: 1024px) {
            height: calc(100vh - 87px);
        }
    }

    & .left,
    & .right {
        width: 50vw;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    & .left {
        height: 0;
        color: white;
        text-align: right;
        padding-right: 2vw;
        animation: slidein 1s;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
    }

    & .right {
        height: calc(100vh-87px);
        background: #eee;
        padding-left: 2vw;
        position: relative;
        animation: slideup 1s;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
    }

    & h1 {
        font-size: 22px;
        font-family: inherit;
        margin-top: -55px;
        animation: slideLeft 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
        animation-delay: 0.65s;
        position: relative;


        @media (min-width: 1024px) {
            font-size: 38px;
            margin-top: -20vh;
        }
    }

    & h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        font-family: inherit;
        letter-spacing: 0.05em;
        animation: slideLeft 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-delay: 0.75s;
        animation-fill-mode: both;
        position: relative;


        @media (min-width: 1024px) {
            font-size: 28px;
        }
    }

    & .right p {
        margin: 0;
        font-family: inherit;
        font-size: 14px;
        position: relative;
        animation: slideRight 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
        animation-delay: 0.75s;
        margin-top: 20px;
        max-width: 25ch;
        line-height: 1.2;
        font-weight: 500;

        @media (min-width: 1024px) {
            font-size: 30px;
            line-height: 1.4;
            margin-top: 10vh;
        }
    }
}
