article {
  h2 {
    display: inline-block;
    min-width: 450px;
    background-color: #333;
    color: #fff;
    padding: 0.35rem 15rem 0.35rem 1rem;
    font-size: 1.4rem;
    margin-left: -1rem;
    clip-path: polygon(0px 0px, 50% 0, calc(50% - 30px) 100%, 0 100%);
    text-transform: uppercase;
  }

  li {
    list-style: none;
    margin-left: 0;
  }
}


