article {

  h2 {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: -1rem;
    margin-top: 2rem;
    clip-path: polygon(0 0, 75% 0, calc(75% - 30px) 100%, 0 100%);
    text-transform: uppercase;

    @media (min-width: 1024px) {
      min-width: 450px;
      display: inline-block;
    }
  }

  ul li {
    list-style: none;
    margin-left: 0;
  }

  p.lead {  
    @media (min-width: 1024px) {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}


