article p.lead {
  font-size: 1.15rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  article p.lead {
    font-size: 1.2rem;
  }
}

.flex-layout {
  padding-left: 15px;
  padding-right: 15px;

  & img {
    width: 130px;
    height: auto;
    align-self: flex-start;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
    margin-top: 7px;
    margin-right: 1em;
  }

  @media (min-width: 1024px) {
    display: flex;
    align-items: start;
    gap: 1em;
    align-items: center;
    gap: 1.5em;
    padding: 0;

    & img {
      width: 200px;
      margin-right: 0;
    }
  }
}

.demo-layout {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;

    & img {
      width: 100px;
      height: auto;
      align-self: flex-start;
      margin-right: 1em;
    }

    .github {
        background: url(../../img/github.svg) left center no-repeat;
        background-size: 20px;
        padding-left: 25px;
        margin-left: 10px;
    }

    @media (min-width: 1024px) {
      padding: 0;

      & img {
        width: 200px;
        margin-right: 50px;
      }

      .github {
          margin-left: 15px;
      }
    }
  }


p:first-child, h3:first-child {
  margin-top: 0;
}

section {
  .section__layout  {
    padding-bottom: 3em;
    border-bottom: solid 1px #ddd;
  }

  &:last-child .section__layout  {
    border: none;
    padding-bottom: 0;
  }
}

.section__layout {
  margin: 3em 0;

  @media (min-width: 1024px) {
    max-width: 900px;
    margin: 3em auto;
  }

  :is(h1) {
    margin: 0 0 0.5em;
  }

  > h1 {
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: 1024px) {
        margin-left: 0;
    }
  }
}


