article p.lead {
  font-size: 1.15rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  article p.lead {
    font-size: 1.2rem;
  }
}

.flex-layout {
  display: flex;
  align-items: start;
  gap: 1em;
  padding-left: 15px;
  padding-right: 15px;

  & img {
    width: 100px;
    height: auto;
  }

  @media (min-width: 1024px) {
    align-items: center;
    gap: 2em;

    & img {
      width: 120px;
    }
  }
}

p:first-child, h3:first-child {
  margin-top: 0;
}

.section__layout {
  max-width: 980px;
  margin: 3em auto;

  :is(h1) {
    margin: 0 0 0.5em;
  }
}
