nav {
  font-weight: 500;
}

header a {
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  nav {
    flex: 0 0 100%;
    margin-top: 10px;

  }
  .js nav {
    overflow: hidden;
    transition: max-height 0.5s;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  nav {
    font-size: 1rem;
    display: inline-block;
    margin-right: 20px;
  }
  .js nav {
    max-height: none !important;
  }
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  nav ul {
    margin-bottom: 0;
  }
}
nav ul li {
  line-height: 2.4;
  border-bottom: solid 1px #ccc;
  margin-top: 0;
}
@media (min-width: 768px) {
  nav ul li {
    line-height: 1.5;
    border: 0;
    display: inline;
    margin-left: 20px;
  }
  nav ul li:first-child {
    margin-left: 0;
  }
}
nav ul li.has-list::before {
  content: "";
  background: url(../../img/down.svg) no-repeat;
  background-size: 16px;
  background-position: center;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
  transition: all 0.25s;
  transform: rotate(0deg);
}
nav ul li.has-list.expanded::before {
  transform: rotate(-180deg);
}
@media (min-width: 768px) {
  nav ul li.has-list {
    position: relative;
  }
  nav ul li.has-list::before {
    transform: rotate(0deg);
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
}
nav ul li.has-list > a {
  display: inline-block;
}
nav ul li.has-list.expanded ul {
  display: block;
}
@media (min-width: 768px) {
  nav ul li.has-list.expanded ul {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 35px;
    background: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 768px) {
  nav ul li.has-list.expanded:last-child ul {
    right: 0;
    left: auto;
  }
}
nav ul li:last-child {
  border: none;
}
nav ul li ul {
  display: none;
  margin-bottom: 0;
}
nav ul li ul li {
  padding-left: 21px;
  font-size: inherit;
}
@media (min-width: 768px) {
  nav ul li ul li {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
    line-height: 1.3;
  }
}
nav ul li a {
  display: block;
}
@media (min-width: 768px) {
  nav ul li a {
    display: inline;
  }
}
