
@font-face {
    font-family: "Noto";
    src: url("../../fonts/NotoSansLinearA-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidein {
    from {
        height: 0;
    }
    to {
       height: 100%;
    }
}

@keyframes slideup {
    from {
        top: 100%;
    }
    to {
       top: 0
    }
}

@keyframes slideLeft {
    from {
        right: -350px;
    }

    to {
        right: 0px;
    }
}

@keyframes slideRight {
    from {
        left: -460px;
    }

    to {
        left: 0px;
    }
}


html.home, .home body {
    height: 100%;
    overflow: hidden;
}

#test {
    & article {
        height: 100vh;
        display: flex;
        padding: 0;
        font-family: "Noto";
        position: relative;
    }

    & .left,
    & .right {
        width: 50vw;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    & .left {
        height: 0;
        color: white;
        text-align: right;
        padding-right: 2vw;
        animation: slidein 1s;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;

        & .teaser {
            display: block;
            margin-top: 1.5em;
            position: relative;
            animation: fadeIn 1s 1.5s both ease-out;

            & + .teaser {
                animation-delay: 1.75s;
            }

            @media (min-width: 768px) {
                justify-content: flex-end;
                display: flex;
                flex-direction: row;
                gap: 1em;
            }

            & p {
                margin-top: -3px;
                font-size: 18px;
            }

            & .link {
                width: 150px;
                font-size: 16px;
                color: white;
                text-align: left;
                display: inline-block;
            }

        }
    }

    & .right {
        height: 100vh;
        background: #eee;
        padding-left: 2vw;
        position: relative;
        animation: slideup 1s;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
    }

    & h1 {
        font-size: 22px;
        font-family: inherit;
        margin-top: -30vh;
        animation: slideLeft 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
        animation-delay: 0.65s;
        position: relative;


        @media (min-width: 1024px) {
            font-size: 38px;
            margin-top: -20vh;
        }
    }

    & h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        font-family: inherit;
        letter-spacing: 0.05em;
        animation: slideLeft 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-delay: 0.75s;
        animation-fill-mode: both;
        position: relative;


        @media (min-width: 1024px) {
            font-size: 24px;
        }
    }

    & .right p {
        margin: 0;
        font-family: inherit;
        font-size: 14px;
        position: relative;
        animation: slideRight 2s forwards;
        transition-timing-function: cubic-bezier(0.020, 0.345, 0.025, 0.915); /* custom */
        animation-fill-mode: both;
        animation-delay: 0.75s;

        &:first-child {
            margin-top: -5vh;
            max-width: 40ch;
        }

        @media (min-width: 1024px) {
            font-size: 16px;

            &:first-child {
                margin-top: 20vh;
            }
        }



        & strong {
            font-weight: 500;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;

            @media (min-width: 1024px) {
                font-size: 18px;
            }
        }

        + p {
            margin-top: 1em;
            animation-delay: 0.85s;

            & a {
                text-decoration: none;
            }
        }
    }
}

.home footer {
    margin: 0;
    display: none;
}

