<!doctype html>
<html class="no-js" lang="de">
<head>
{{> de/partials/meta }}
{{> de/partials/styles }}
</head>
<body>
{{> de/partials/header pageId=this.pageId }}
{{> content }}
{{> de/partials/footer }}
{{> de/partials/scripts }}
</body>
</html>
