<!-- {{this.pageId}} -->
<!doctype html>
<html class="no-js" lang="de">
<head>
{{> de/partials/meta }}
{{> de/partials/styles }}
</head>
<body>
{{#unless (eq this.pageId 'index') }}
  {{> de/partials/header pageId=this.pageId }}
{{/unless}}
{{> content }}
{{> de/partials/footer }}
{{> de/partials/scripts }}
</body>
</html>
