<footer>
	<address>
		Saeid Mohadjer<br />
		Denzlingerstr. 20<br />
		79108 Freiburg, Germany<br />
		Phone: +49 176 8826 9966<br />
		<a href="mailto:info@saeidmohadjer.com?subject=Feedback%20from%20Website">info@saeidmohadjer.com</a>
	</address>
	<div>
		<ul class="tools">
      <li class="html5"><a title="Validate this page" href="https://validator.w3.org/check/referer">HTML5 Valid</a></li>
      <li class="css3"><a title="Validate this page" href="https://jigsaw.w3.org/css-validator/check/referer">CSS3 Valid</a></li>
      <li class="a11y"><a title="Validate accessibility" href="https://www.accessibilitychecker.org/audit/?website=http%3A%2F%2Fsaeidmohadjer.com&amp;flag=us">WCAG 2.1 konform</a></li>
      <li class="performance"><a href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fsaeidmohadjer.com%2F">PageSpeed Insights</a></li>
    </ul>
	</div>
	<div>
		<p>Tax Nr.: 06169/58063<br />
		VAT Nr.: DE287169201</p>
		<p>This website neither uses cookies nor collects personal data and is hosted on servers within EU region.</p>
	</div>
</footer>
