<footer>
	<address>
		Saeid Mohadjer<br />
		Denzlingerstr. 20<br />
		79108 Freiburg<br />
		Germany<br /><br />
		Phone: +49 761 4296 3565<br />
		Cell: +49 176 8826 9966<br />
		<a href="mailto:info@saeidmohadjer.com?subject=Feedback from Website">info@saeidmohadjer.com</a><br /><br />

		Tax Nr.: 06169/58063<br />
		VAT Nr.: DE287169201
	</address>
	<div>
		<!--<span>USt-ID (VAT): DE287169201</span>-->
		<ul>
			<li><a title="Validate this page" href="https://validator.w3.org/check?uri=referer">HTML5 Valid</a></li>
			<li><a title="Validate this page" href="https://jigsaw.w3.org/css-validator/check/referer">CSS3 Valid</a></li>
			<li><a title="Validate accessibility" href="https://www.accessibilitychecker.org/audit/?website=http%3A%2F%2Fsaeidmohadjer.com&flag=us">WCAG 2.1 Compliant</a></li>
		</ul>
		<p>This website neither uses cookies nor collects personal data. The site is hosted on GitHub's server so please read their <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">privacy statement</a> to understand what data is collected by GitHub.</p>
		<p>Last updated on Jan. 10, 2023.</p>
	</div>
</footer>
