<link rel="stylesheet" href="/resources/css/helper.css">
<link rel="stylesheet" href="/resources/css/hamburgers.css">
{{#if (eq pageId 'service')}}
<link rel="stylesheet" href="/resources/css/swiper-bundle.min.css">
{{/if}}

{{#if (eq pageId 'blog/index')}}
    <link rel="stylesheet" href="/resources/css/prism.css">
{{/if}}

<link rel="stylesheet" href="/resources/css/styles.css">

{{#if (eq pageId 'resume')}}
    <link rel="stylesheet" href="/resources/css/resume.css">
{{/if}}

{{#if (eq pageId 'lebenslauf')}}
    <link rel="stylesheet" href="/resources/css/resume.css">
{{/if}}
