.footnote {
	font-size: 0.75em;
	color: #666;
	font-weight: normal;
}

section.work h3 {
	border: none;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;

	.grid__cell {
		display: flex;
		flex-flow: column;
		padding: 15px;
		background: $gray;
		margin-bottom: 20px;
		animation: fadein 0.5s ease-out;

		@media screen and (min-width: 768px) {
			margin-bottom: 30px;

			h3 + p {
				font-size: 0.9em;
				line-height: 1.3em;
				margin-top: 5px;
			}
		}

		p:last-child {
			margin-bottom: 0;
			margin-top: auto;
		}
	}
}

@keyframes fadein {
	from { opacity: 0; transform: scale(0.5); }
	to   { opacity: 1; transform: scale(1);  }
}
