.footnote {
	font-size: 0.75em;
	color: #666;
	font-weight: normal;
}

.intro {
	margin: 40px 0;
	background: $gray;
	padding: 25px;
	font-size: 1.2em;
	line-height: 1.5em;
}

section.work {
	margin-top: 20px;
	
	h3 {
		border: none;
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;

	.grid__cell {
		display: flex;
		flex-flow: column;
		padding: 15px;
		background: $gray;
		margin-bottom: 20px;
		animation: fadein 0.5s ease-out;

		@media screen and (min-width: 768px) {
			margin-bottom: 30px;

			h3 + p {
				font-size: 0.9em;
				line-height: 1.3em;
				margin-top: 5px;
			}
		}
	}
}

.new {
	h3 {
		border-bottom: none;
		font-size: 1.5em;
		line-height: 1.3em;
	}

	padding-bottom: 15px;
	border-bottom: solid 1px #ccc;
}

@keyframes fadein {
	from { opacity: 0; transform: scale(0.5); }
	to   { opacity: 1; transform: scale(1);  }
}

.columns {
	box-sizing: border-box;

	&__left {
		@media (min-width: 768px) {
			float: left;
			width: 60%;
			padding-right: 5%;
		}

		h3 {
			margin-top: 0;
		}
	}

	&__right {
		@media (min-width: 768px) {
			float: left;
			width: 40%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
