.post {
	line-height: 1.4em;

	.centered {
		text-align: center;
	}

	h1 + section {
		margin-top: 30px;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	h3 {
		margin: 0;
		padding: 0;
		border: 0;

		+ p {
			margin-top: 5px;
		}
	}

	p {
		margin-top: 15px;
	}

	li, p {
		line-height: inherit;
	}

	li + li {
		margin-top: 0.5em;
		margin-bottom: 0;
	}

	section {
		border-bottom: solid 1px #ccc;
		padding-bottom: 20px;

		+ section {
			margin-top: 20px;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}

	//for inline code
	code {
		background: #eff0f1;
		border-radius: 5px;
		padding: 5px;
	}

	pre {
		padding: 10px;
		margin: 10px 0 0;
		background: #eff0f1;
		font-family: monospace;
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		overflow-x: auto;
		border-radius: 5px;
	}
}
