@media print {
  .pdf {
    display: none;
  }
  h3 {
    page-break-after: avoid;
  }
}

article {
  background: #eee;
  line-height: 1.35;

  & section:nth-child(odd) {
    background: white;
  }

  & section > div {
    max-width: 980px;
    margin: 2em auto;

    & *:first-child {
      margin-top: 0;
    }

    & dt {
      font-size: inherit;
      font-weight: bold;
    }
  }
}

p {
  max-width: none;
}

.flex {
  display: flex;
}

div.flex > div {
  width: 30%;
  padding-right: 3%;
}

div.flex h4 {
  margin-bottom: 0;
}

div.flex ul {
  margin-top: 0;
}

div.flex li span {

  color: #555;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: smaller;
  position: relative;
  top: -1px;
}

.flex img {
  margin: 0 1em 1em 0;
}

.langs {
  padding-top: 1em;
}

.langs,
.align-center {
  text-align: center;
}

article {
  & header {
    background: #eee;
    text-align: center;
    margin: 2em 0;
    padding: 1em 0;
  }

  @media (min-width: 768px) {
    & header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & header img {
      margin-right: 1em;
    }
  }

  & header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  @media (min-width: 1024px) {
    & header > div {
      width: auto;
    }
  }

  & header p {
    font-size: 16px;
    margin-top: 0.5em;
  }
}

.lead {
  text-align: center;
  font-size: larger;
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h1, h2 {
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  margin-top: 0.25em;
}

h3 {
  margin-top: 2rem;
}

h3 + *,
h4 + * {
  margin-top: 0.25rem;
}

article section ul {
  list-style-type: disc;
  padding-left: 17px;
  margin-top: 0.5em;
}

ul li {
  margin-top: 0.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 0.5rem;
}

#projects + ul li + li {
  margin-top: 3em;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}
