<footer>
	<address>
		Saeid Mohadjer<br />
		Denzlingerstr. 20<br />
		79108 Freiburg<br />
		Germany<br /><br />
		تلفن: <span dir="ltr">+٤٩&nbsp;٧٦١&nbsp;٤٢٩٦&nbsp;٣٥٦٥</span><br />
		تلفن همراه: <span dir="ltr">+٤٩&nbsp;١٧٦&nbsp;٨٨٢٦&nbsp;٩٩٦٦</span><br />
		<a href="mailto:info@saeidmohadjer.com?subject=Feedback%20from%20Website">info@saeidmohadjer.com</a><br /><br />
		شماره مالیاتی: ٠٦١٦٩/٥٨٠٦٣<br />
		شماره مالیات بر ارزش افزوده: DE٢٨٧١٦٩٢٠١
	</address>
	<div>
		<p>این وب&zwnj;سایت نه از کوکی&zwnj;ها استفاده می&zwnj;کند و نه داده&zwnj;های شخصی را جمع آوری می&zwnj;کند. این سایت بر روی سرور گیت&zwnj;هاب میزبانی می&zwnj;شود، بنابراین لطفاً <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">بیانیه حریم خصوصی</a> آنها را بخوانید تا متوجه شوید چه داده&zwnj;هایی توسط گیت&zwnj;هاب جمع آوری می&zwnj;شود.
			همه صفحات از یک  <a href="https://github.com/smohadjer/saeidmohadjer.com">مخزن عمومی</a> از طریق  <a href="https://github.com/smohadjer/build">ابزار ساخت</a>  که من با استفاده از Node.js نوشتم و بدون توسل به task runner تولید می شوند. صفحات با استفاده از GitHub Actions به صورت خودکار در صفحات گیت&zwnj;هاب مستقر می شوند.
		</p>
		<p>آخرین به روز رسانی در ٧ فوریه ٢٠٢٣</p>
	</div>
</footer>




